[Unit]
Description=Enable zram swap
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStartPre=/sbin/modprobe zram
ExecStart=/bin/bash -c 'echo zstd > /sys/block/zram0/comp_algorithm 2>/dev/null; echo 536870912 > /sys/block/zram0/disksize; mkswap /dev/zram0; swapon --priority 100 /dev/zram0'
RemainAfterExit=yes
ExecStop=/sbin/swapoff /dev/zram0

[Install]
WantedBy=multi-user.target
